#intro {
    display: block;
}

#questone {
    display: none;
}

#questtwo {
    display: none;
}

#questthree {
    display: none;
}

#questfour {
    display: none;
}

#questfive {
    display: none;
}

#alldone {
    display: none;
}

#highscores {
    display: none;
}

#anschk {
    display: none;
}